%sidenav-shared {
  height: 100vh; /* 100% Full-height */
  // width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  color: blue;
  background-color: white;
}

.sidenav {
  @extend %sidenav-shared;
  width: 250px;
}
.sidenav-closed {
  @extend %sidenav-shared;
  width: 0px;
}

.nav-drawer-items {
  line-height: 3rem;
}