@import '../../ColorSchemes.scss';

%button-shared {
  padding: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  max-width: fit-content;
  height: 1.875rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: 0.4s ease-in-out;
  &:hover {
    // transition: 0.3s;
    transition: 0.4s ease-in-out;;
    transform-origin: top left;
  }
  span {
    font-size: 14px;
    margin-right: 4px;
  }
}

.icon-button {
  max-width: 1.875rem;
  padding: 0 0.4375rem; // (1.875rem - 1rem) / 2
  span {
    margin: 0px;
    font-size: 1rem;
  }
}

@mixin buttonTheme($base-color) {

  @if $base-color == $primary-color {
    background-color: $base-color;
    color: $white-color;
    span {
      color: $white-color;
    }
    &:hover {
      background-color: $primary-color-light;
    }
  } @else if $base-color == $translucent {
    background-color: $base-color;
    color: $primary-color;
    box-shadow: none;
    border-radius: 0px;
    span {
      color: $primary-color;
    }
    &:hover {
      background-color: $primary-color-super-light;
    }
  }
}


.button {
  @extend %button-shared;
  @include buttonTheme($primary-color);
}

.button :disabled,
.button[disabled] {
  background-color: $gray-color;
  cursor: not-allowed;
}

.text-button {
  @extend %button-shared;
  @include buttonTheme($translucent);
}

.text-button :disabled,
.text-button[disabled],
.text-button-light :disabled,
.text-button-light[disabled] {
  color: $gray-color;
  cursor: not-allowed;
  span {
    color: $gray-color;
  }
}

.text-button-light {
  @extend %button-shared;
  background-color: $translucent;
  color: $white-color;
  box-shadow: none;
  &:hover {
    background-color: $primary-color-light;
  }
}


.text-button[role="tab"] {
  border-bottom: solid 1px $primary-color;
  border-radius: 0px;
}


