%drawer-shared {
  // height: 100%; /* 100% Full-height */
  height: 100vh;
  // width: 250px; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  // position: relative;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  // padding-top: 60px; /* Place content 60px from the top */
  padding: 1rem;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  color: blue;
  background-color: white;
  main {
    display: flex;
    flex-direction: column;
  }
}


.drawer {
  @extend %drawer-shared;
  width: fit-content;
}

.drawer-closed {
  @extend %drawer-shared;
  width: 0px;
  padding: 0px;
  // visibility: collapse;
}